/* Variables */

:root {
    --basic-white: #ffffff;
    --basic-neutral: #eeeeee;
    --basic-black: #000000;
    --text-color: #283136;
    --special: #FB565A;
    --special2: #00CA74;
    --special3: #EFC849;
}

/* Global */

.page_body {
    min-width: 1157px;
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-color);
    background-color: var(--basic-white);

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.page {
    height: 100%;
}

.wrapper_content {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 1157px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
li {
    list-style: none;
}

/*скрыть текст
.visually_hidden{
}
*/

.button {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    width: 240px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: 3px;
    background-color: var(--special);
}

.button:hover {
    background-color:#E74246;
}

.button:focus {
    background-color:#D7373B;
}

/* Header */

.header {
    height: 114px;
    background-color: var(--basic-neutral);
}

.header_logo {
    padding-top: 48px;
    padding-right: 202px;
}

.header_logo[href]:hover,
.header_logo[href]:focus{
    opacity: 0.7;
}
.header_logo[href]:active{
    opacity: 0.3;
}

.header_navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: var(--basic-black);
    background-color: var(--basic-neutral);
    text-transform: uppercase;
}

.header_navigation li + li {
    padding-left: 45px;
}

.header_menu {
    display: flex;
    padding-top: 60px;
    padding-right: 246px;
    font-weight: 500;
    line-height: 30px;
}

.header_cart {
    line-height: 30px;
    margin-top: 76px;
    margin-bottom: 0;
    padding: 0;
}

.header_cart li {
    position: relative;
    padding-left: 40px;
}

.header_cart li::before {
    position: absolute;
    top: 7px;
    left: 0;

    width: 15px;
    height: 15px;

    content: '';

    background-image: url("../img/icons/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.header_menu__link,
.header_cart__link {
    color:var(--basic-black);
}

.header_menu__link[href]:hover,
.header_cart__link[href]:hover {
    color: var(--special);
}

.header_menu__link[href]:focus,
.header_cart__link[href]:focus {
    color:  rgba(0, 0, 0, 0.3);
}

.header_menu__link:active,
.header_cart__link:active{
    color: #000;
    border-bottom: 2px solid #fb565a;
}

.header_menu__link--active{
    color: #000;
    border-bottom: 2px solid #fb565a;
}

/* Container Slider */

.slider {
    background-color: #eeeeee
}

.slider_list {
    list-style: none;
}

.slider_list__item h3 {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color:var(--basic-black);
}

/* Service */

.service {
    margin-top: 80px;
    margin-bottom: 80px;
}

.service_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
    list-style: none;
    width: 1157px;
}

.service_list h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--basic-black);
}

.service_list__button {
    width: 160px;
    height: 50px;
}

.service_list__button--pink {
    background-color: var(--special);
}

.service_list__button--pink:hover {
    background-color: #E74246;
}

.service_list__button--pink:focus {
    background-color: #D7373B;
}

.service_list__button--green {
    background-color: var(--special2);
}

.service_list__button--green:hover {
    background-color: #00BC6C;
}

.service_list__button--green:focus {
    background-color: #00AA62;
}

.service_list__button--yellow {
    background-color: var(--special3);
}

.service_list__button--yellow:hover {
    background-color: #EAB534;
}

.service_list__button--yellow:focus {
    background-color: #E5A722;
}

/* About us */

.about {
    border-top: 2px solid #eee;
}

.about_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 149px;
    width: 1157px;
}

.about_description__title {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    color: #000;
}

.about_description__list {
    font-weight: 700;
    text-transform: uppercase;
}

.about_facts p {
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    text-transform: uppercase;
    color: #000;
}

.about_facts span {
    font-size: 45px;
    font-weight: 700;
    line-height: 64px;
    color: #000;
}

sup {
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
}

.about_facts__list {
    line-height: 18px;
}

/* Brands */

.brands {
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
}

.brands__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    text-align: center;
    width: 1157px;
}

.brands__item img{
    opacity: 0.2;
}
.brands__item img:hover{
    opacity: 1;
}

.brands__item img:focus{
    opacity: 0.1;
}


/* Map */

.map_footer iframe {
    width: 100%;
    min-width: 1157px;
    border: none;
}
.map_footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-top: 80px;
}


.map_content {
    width: 319px;
    padding: 47px 50px;
    background-color:var(--basic-white);
    border: 2px solid black;
}

.map_content__name {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: var(--basic-black);
}

.map_content__address,
.map_content__address_phone {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #666666;
}

.map_content--link {
    color: #666666;
}

/* Main footer */

.footer {
    width: 1160;
    text-align: center;
}
  
.footer ul {
    list-style: none;
}
  
.footer__button {
    color: #E1E1E1;
}

.footer_social {
    display: grid;
    grid-template-columns: min-content 1fr;
}

.footer_social ul {
    display: flex;
}
  
.footer_social__button,
.footer_social__button:focus {
    background-color: #E74246;
}
.footer_social__button:active::after {
    opacity: 0.3
}

.footer_discount b {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    color:var(--basic-black);
}

.footer_discount p {
    line-height: 22px;
    color:#444444;
}

/* Catalog */

.intro {
    background-color:var(--basic-neutral)
}

.intro_block__title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
    color: var(--basic-black);
}

.catalog_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 140px;
}

/* Filters */

.filters legend {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase;
}

.filters ul {
    list-style: none;
    line-height: 20px;
}

/* Range-control */

.range_control{
    border-radius: 3px;
    background-color: #f1f1f1;
}
.range_control .scale{
    height: 2px;
    background: #d7dcde;
}

.range_control .bar{
    width: 138px;
    height: 2px;
    background: #00ca74;
}

/*
.range-control .toggle{
}

.range-control .toggle-min{
}

.range-control .toggle-max{
}
*/

.price_control label{
    font-size: 16px;
    text-transform: uppercase;
}

.price_control input{
    font-family: Roboto;
    font-size: 16px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.max_price{
    text-align: right;
}

/* Radio */

.catalog_filter ul {
    display: block;
    list-style: none;
}

.filter_option{
    padding-bottom: 16px;
}

.radio_option {
    position: relative;
}

.radio_option {
    opacity: 0.4;
}
.radio_option:hover,
.radio_option:focus{
    opacity: 1;
}

.radio_option:disabled{
    opacity: 0.3;
}

input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.radio_box::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    margin-left: -39px;
    background-image: url(../img/icons/radio-off.svg);
}

/* checked */

input[type=radio]:checked + .radio_box::before{
    background-image: url(../img/icons/radio-on.svg);
}

input[type=radio]:focus + .radio_box::before{
    outline: 1px solid blue;
}

/* Checkbox */

.check_option {
    position: relative;
}

.check_option {
    opacity: 0.4;
}
.check_option:hover,
.check_option:focus{
    opacity: 1;
}

.check_option:disabled{
    opacity: 0.3;
}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
}

.check_box::before{
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    margin-left: -39px;
    background-image: url(../img/icons/checkbox-off.svg)
}

/* checked */

input[type=checkbox]:checked + .check_box::before{
    background-image: url(../img/icons/checkbox-on.svg);
}

input[type=checkbox]:focus + .check_box::before{
    outline: 1px solid blue;
}

/* Filter Button */

.filter__button {
    width: 260px;
    height: 50px;
    color:var(--basic-black);
    background-color: var(--basic-neutral);
}

.filter__button:hover {
    background-color: #DFDFDF;
}

.filter__button:focus {
    color: rgba(0, 0, 0, 0.3);
    background: #D5D5D5;
}

/* Sorting */

.catalog_sorting {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.catalog_sorting h2 {
    font-family: Roboto,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: normal;
    text-transform: uppercase;
}

.sort_list {
    list-style: none;
}

.sort_list li {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.sort_list__item {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
}

.sort_list__item:hover {
    color: rgba(0, 0, 0, 0.6);
}

.sort_list__item:active,
.sort_list__item:focus {
    color: var(--basic-black);
}

.sort_list__item-_active {
    color: var(--basic-black);
}
.sort-list-up::before{
    background-image: url(../img/icons/icon-sort.svg);
}

/* Catalog */

.catalog_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 42px;
    row-gap: 30px;
    list-style: none;
}

.catalog_template__popup h3 {
    color: var(--basic-black);
}

.catalog_caption {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.catalog_caption:hover {
    color: var(--special);
}

.catalog_caption:focus {
    opacity: 0.3;
}

/* Pagination */

.pagination_list {
    display: flex;
    font-weight: 500;
    list-style: none;
}

.pagination_list__item a,
.pagination_list__item a:link,
.pagination_list__item a:visited{
    color: var(--basic-black);
    border-radius: 3px;
    background-color: #eee;
}

.pagination_list__item a:hover,
.pagination_list__item a:focus{
    color: var(--basic-black);
    background-color: #dfdfdf;
}

.pagination_list__item a:active{
    color:var(--basic-black);
    background-color: #d5d5d5;
}

.pagination_list__item:last-child a{
    text-transform: uppercase;
}

.pagination_list__item:last-child a:hover,
.pagination_list__item:last-child a:focus{
    background-color: #dfdfdf;
}

.pagination_list__item--active a,
.pagination_list__item--active a:hover,
.pagination_list__item--active a:focus,
.pagination_list__item--active a:active{
    border: 3px solid #dbdbdb;
    background-color: #fff;
}