/* Variables */

:root {
    --basic-white: #ffffff;
    --basic-neutral: #eeeeee;
    --basic-black: #000000;
    --text-color: #283136;
    --special: #FB565A;
    --special2: #00CA74;
    --special3: #EFC849;
}

/* Global */

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--text-color);
    background-color: var(--basic-white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    font-size: 16px;
    line-height: 18px;
    padding: 16px 0;
    width: 240px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: 3px;
    background-color: var(--special);
}

.button:hover {
    background-color:#E74246;
}

.button:focus {
    background-color:#D7373B;
}


/* Main navigation */

.main-nav {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: var(--basic-black);
    background-color: var(--basic-neutral);
    text-transform: uppercase;
}

.main-nav-wrapper {
    background-color: var(--basic-neutral);
}

.site-nav {
    list-style: none;
}

/*добавить класс в списке и изменить состоянии кнопок*/

.site-nav-link,
.cart-nav-link {
    display: inline-block;
    color:var(--basic-black);
}

.site-nav-link[href]:hover,
.cart-nav-link[href]:hover {
    color: var(--special);
}

.site-nav-link[href]:focus,
.cart-nav-link[href]:focus {
    color:  rgba(0, 0, 0, 0.3);
}

.site-nav-link:active,
.cart-nav-link:active{
    color: #000;
    border-bottom: 2px solid #fb565a;
}

.site-nav-link-active{
    color: #000;
    border-bottom: 2px solid #fb565a;
}

/* Container Slider */

.header-slider {
    background-color: #eeeeee
}

.slider-list {
    list-style: none;
}

.slider-item h3 {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color:var(--basic-black);
}

/* Service */

.service-item {
    list-style: none;
}

.service-item h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--basic-black);
}

.service-item-button{
    width: 160px;
    height: 50px;
}

.service-item-button-pink {
    background-color: var(--special);
}

.service-item-button-pink:hover {
    background-color: #E74246;
}

.service-item-button-pink:focus {
    background-color: #D7373B;
}

.service-item-button-green {
    background-color: var(--special2);
}

.service-item-button-green:hover {
    background-color: #00BC6C;
}

.service-item-button-green:focus {
    background-color: #00AA62;
}

.service-item-button-yellow {
    background-color: var(--special3);
}

.service-item-button-yellow:hover {
    background-color: #EAB534;
}

.service-item-button-yellow:focus {
    background-color: #E5A722;
}

/* About us */

.about-description-title {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    color: #000;
}

.about-description-list {
    font-weight: 700;
    text-transform: uppercase;
}

.about-facts p {
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    text-transform: uppercase;
    color: #000;
}

.about-facts span {
    font-size: 45px;
    font-weight: 700;
    line-height: 64px;
    color: #000;
}

sup {
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
}

.facts-list {
    line-height: 18px;
}

/* Brands */

.brands-list {
    list-style: none;
    text-align: center;
}

.brands-item img{
    opacity: 0.2;
}
.brands-item img:hover{
    opacity: 1;
}

.map-address {
    background-color:var(--basic-white);
}

.studio-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: var(--basic-black);
}

.address,
.address-phone {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #666666;
}

.address-phone-link {
    color: #666666;
}

/* Main footer */

.footer-social {
    text-align: center;
}
  
.footer-social ul {
    list-style: none;
}
  
/* Social button */
  
.social-button {
    color: #E1E1E1;
}
  
.social-button:hover,
.social-button:focus {
    background-color: #E74246;
}
.social-button:active::after {
    opacity: 0.3
}

.footer-discount b {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    color:var(--basic-black);
}

.footer-discount p {
    line-height: 22px;
    color:#444444;
}

/* Catalog */

/*подправить in normalize*/
.header-logo img:hover {
    opacity: 70%;
}

.header-logo img:focus {
    opacity: 30%;
}

.intro{
    background-color:var(--basic-neutral)
}

.page-title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
    color: var(--basic-black);
}

/* Filters */

.filter legend {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase;
}

.filter ul {
    list-style: none;
    line-height: 20px;
}

/* Range-control */

.range-control{
    border-radius: 3px;
    background-color: #f1f1f1;
}
.range-control .scale{
    height: 2px;
    background: #d7dcde;
}

.range-control .bar{
    width: 138px;
    height: 2px;
    background: #00ca74;
}

/*
.range-control .toggle{
}

.range-control .toggle-min{
}

.range-control .toggle-max{
}
*/

.price-control label{
    font-size: 16px;
    text-transform: uppercase;
}

.price-control input{
    font-family: Roboto;
    font-size: 16px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.max-price{
    text-align: right;
}

/* Radio */

.radio-input {
    width: 25px;
    height: 25px;
    background-image: url(../img/icons/radio-off2.svg);
}

.radio-input:hover {
    color: var(--text-color);
}

.radio-input:disabled + label {
    opacity: 0.1;
}

.radio-input:checked {
    background-image: url(../img/icons/radio-on2.svg);
}

/* Checkbox */

.checkbox-input {
    width: 25px;
    height: 23px;
    background-image: url(../img/icons/checkbox-on2.svg)
}

.checkbox-input:hover + label {
    color: var(--text-color)
}

.checkbox-input:disabled + label {
    opacity: 0.1;
}

.filter-button {
    width: 260px;
    height: 50px;
    color:var(--basic-black);
    background-color: var(--basic-neutral);
}

.filter-button:hover {
    background-color: #DFDFDF;
}

.filter-button:focus {
    color: rgba(0, 0, 0, 0.3);
    background: #D5D5D5;
}

/* Sorting */

.catalog-sorting h2 {
    font-family: Roboto,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: normal;
    text-transform: uppercase;
}

.sort-list {
    list-style: none;
}

.sort-list li {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.sort-list-item {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
}

.sort-list-item:hover {
    color: rgba(0, 0, 0, 0.6);
}

.sort-list-item:active,
.sort-list-item:focus {
    color: var(--basic-black);
}

.sort-list-item-active {
    color: var(--basic-black);
}
.sort-list-up::before{
    background-image: url(../img/icons/icon-sort.svg);
}

/* Catalog */

.catalog-list {
    list-style: none;
}

.catalog-popup h3 {
    color: var(--basic-black);
}

.catalog-caption {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.catalog-caption:hover {
    color: var(--special);
}

.catalog-caption:focus {
    opacity: 0.3;
}

/* Pagination */

.pagination-list {
    font-weight: 500;
    list-style: none;
}

.pagination-item a,
.pagination-item a:link,
.pagination-item a:visited{
    color: var(--basic-black);
    border-radius: 3px;
    background-color: #eee;
}

.pagination-item a:hover,
.pagination-item a:focus{
    color: var(--basic-black);
    background-color: #dfdfdf;
}

.pagination-item a:active{
    color:var(--basic-black);
    background-color: #d5d5d5;
}

.pagination-item:last-child a{
    text-transform: uppercase;
}

.pagination-item:last-child a:hover,
.pagination-item:last-child a:focus{
    background-color: #dfdfdf;
}

.pagination-item-active a,
.pagination-item-active a:hover,
.pagination-item-active a:focus,
.pagination-item-active a:active{
    border: 3px solid #dbdbdb;
    background-color: #fff;
}